@using Hozor.Utilities.Helpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/jquery-ui/jquery-ui-1.10.1.custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reset.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="~/Scripts/js/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    <script src="~/Scripts/jquery-2.1.4.js"></script>

    @RenderSection("styles", required: false)
    @RenderSection("Header", required: false)

</head>

<body>
    <div class="k-rtl">
        <section id="container">
            <!--header start-->
            <header class="header fixed-top clearfix">
                <div style="float:left;">

                    @Html.Partial("_LoginPartial")

                </div>
                <div class="col-md-6" style="float:left;padding-top:15px; color:black; font-size:18px;"> پنل مدیریت پایگاه اطلاع رسانی حراست ايران كاوه سايپا</div>
                <!--logo start-->
                <div class="brand">
                    <a href="index.html" class="logo">
                        <img src="~/Content/logo/Logo.png" height="55px" width="80px" />
                    </a>
                    <div class="sidebar-toggle-box">

                        <div id="MenuRight" class="fa fa-bars"></div>
                    </div>
                </div>

                <!--logo end-->
            </header>
            <!--header end-->
            <aside>
                <div id="sidebar" class="nav-collapse">
                    <!-- sidebar menu start-->
                    <div class="leftside-navigation">
                        <ul class="sidebar-menu" id="nav-accordion">

                            <li>
                                <a class="active" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fa fa-home"></i>
                                    <span>صفحه اصلی</span>
                                </a>
                            </li>


                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <i class="fa fa-user"></i>
                                    <span>کاربران</span>
                                </a>
                                <ul class="sub">

                                    <secure-content asp-controller="CUsers" asp-action="Index">
                                        <li><a asp-area="" asp-controller="CUsers" asp-action="Index">مدیریت کاربران</a></li>
                                    </secure-content>
                                    <secure-content asp-controller="CUsers" asp-action="Create">
                                        <li><a asp-area="" asp-controller="CUsers" asp-action="Create">افزودن کاربر</a></li>
                                    </secure-content>
                                    <secure-content asp-controller="CUsers" asp-action="ChangePassword">
                                        <li><a asp-area="" asp-controller="CUsers" asp-action="ChangePassword">تغيير رمز</a></li>
                                    </secure-content>

                                </ul>


                            </li>

                          
                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <i class="fa fa-users"></i>
                                    <span>گروه کاربری</span>
                                </a>
                                <ul class="sub">
                               

                                </ul>


                            </li>



                        </ul>
                    </div>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            @if (TempData[Constants.MessageKey] != null)
                            {
                                <div class="alert alert-@TempData[Constants.ColorKey]">
                                    @TempData[Constants.MessageKey]
                                </div>
                            }
                            <!-- sidebar menu end -->
                            @RenderBody()
                        </div>
                    </div>
                </section>

            </section>
        </section>
    </div>
    <script src="~/Scripts/jquery-ui-1.11.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-fileupload.js"></script>
    <script src="~/Scripts/bootstrap-rtl.js"></script>
    <script src="~/Scripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/jquery.scrollTo.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.scrollTo/jquery.scrollTo.js"></script>
    <script src="~/Scripts/js/data-tables/jquery.dataTables.js"></script>
    <script src="~/Scripts/js/data-tables/DT_bootstrap.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/table-editable.js"></script>
    <script src="~/Scripts/eshop.js"></script>

    <script src="~/Scripts/bootstrap-rtl.js"></script>
    <script src="~/Scripts/respond.js"></script>
    @RenderSection("scripts", required: false)

<script>
    $(document).ready(function () {
        EditableTable.init();
        $("form").addClass("form-horizontal").attr("role", "form");
        $("#buttons * *").addClass("btn btn-primary");
        $('input[type="text"],input[type="datetime"],input[type="password"],textarea,select').addClass("form-control");
    });

</script>

</body>

</html>
