@using Hozor.Utilities.Helpers
@model Hozor.DataLayer.Models.CEmployees

@{
    ViewData["Title"] = "جزئيات مشخصات پرسنل";
}

<section class="panel">
    <header class="panel-heading">
        جزئيات مشخصات پرسنل
    </header>
    <div class="panel-body">
        <dl class="dl-horizontal">

            <div class="row col-md-12">
                <div class="col-lg-4">
                    <dt>
                        @Html.DisplayNameFor(model => model.PersonalId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PersonalId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ImageNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ImageNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd>
                        @Model.StartDate.ToPersianDateTime()
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </div>
                <div class="col-lg-4">
                    <dt>
                        @Html.DisplayNameFor(model => model.Section)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Section)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Family)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Family)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Job)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Job)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FerstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FerstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd>
                        @Model.EndDate.ToPersianDateTime()
                    </dd>
                </div>

                <div class="col-lg-4">
                    <dt>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </dt>
                    <dd>
                        @if (Model.ImageName != null)
                        {
                            <img id="imageView" style="margin: 8px auto; width: 150px; height: 195px; float: right" class="thumbnail" src="~/Images/Employee/@Model.ImageName" />
                        }
                        else
                        {
                            <img id="imageView" style="margin: 8px auto; width: 150px; height: 195px; float: right" class="thumbnail" src="~/Images/Employee/user_default.jpg" />
                        }
                    </dd>
                </div>
            </div>
        </dl>
        
        <div id="buttons">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <a asp-action="Edit" asp-route-id="@Model.Id">ويرايش</a>
                <a asp-action="Index">بازگشت به فهرست</a>
            </div>
        </div>
    </div>
    
    

</section>


